# Ignore Python virtual environment
crm_venv/

# Ignore Python bytecode files
*.pyc

# Ignore database files
db.py
*.sqlite3


# Ignore compiled files
__pycache__/

# Ignore sensitive configuration files
.env

# Ignore Django migration files if not shared
*/migrations/

# Flake8 configuration
.flake8
